.about-img {
    max-width: 100%;
    height: auto;
}

.mobile-text {
  text-align: left;
}

.railway-font {
  font-family: 'Raleway', sans-serif !important;
}

@media (max-device-width: 600px) {
  .mobile-text {
    text-align: center;
  }
}